<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ecom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ecom.styles.css" asp-append-version="true" />
 
</head>
<body>
    <!-- Navigation -->
    <header class="header">
        <div class="nav-container">
            <div class="logo">ShopMore</div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="nav-icons">
                <a href="#" class="icon">Account</a>
                <a href="#" class="icon">Wishlist</a>
                <a href="#" class="icon">Cart</a>
            </div>
        </div>
    </header>
      
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   



   

    
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
